# Credenciales Alpaca
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=https://paper-api.alpaca.markets

# Parámetros del bot
SYMBOL=TSLA
BUY_AMOUNT=1000.0
MAX_BUYS=10
BUY_DROP_PCT=0.03
SELL_RISE_PCT=0.03
INTERVAL=1200
PAPER=true
